* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  margin: 0;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  background: url('/2-Bed-Ward.jpg') no-repeat center center fixed;
  background-size: cover;
}
.topbar-socials {
  width: 200px; 
  overflow: hidden;     
  position: relative;
  display: flex;
  place-items: center;
  height: 35px;
  gap: 5px;
  justify-content: end;
}

.socials-track {
  transform: translateY(17px);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  place-items: center;
}

.socials-track:hover {
  transform: translateY(-17px);
}
.topbar-socials1 {
  transition:  background 0.3s ease;
}
.topbar-socials2 {
  transition:  background 0.3s ease;
}
.topbar-socials3 {
  transition:  background 0.3s ease;
}
.topbar-socials4 {
  transition:  background 0.3s ease;
}
.topbar-socials1:hover {
  background: #3b5998;
}
.topbar-socials2:hover {
  background: #bb0000;
}
.topbar-socials3:hover {
  background: #007bb6;
}
.topbar-socials4:hover {
  background: #517fa4;
}
nav {
  background: #fff;
  padding: 25px 10px;
  height: 110px;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 10;
  display: flex;
  justify-content: center;
}
.main-navbar {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 200px;
}
.nav-links > ul {
  display: flex;
  list-style: none;
  gap: 40px;
  align-items: flex-end;
  height: 60px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #7f7f7f;
}
.nav-links > ul > li {
  cursor: pointer;
  color: #7f7f7f;
  font-weight: 600;
  transition: color .2s ease-in;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-links > ul > li:hover {
  color: #f02323;
}
.search-bar {
  width: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 20px;
}
.spandepartment {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}