* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  margin: 0;
}
.topbar-socials {
  width: 140px; 
  overflow: hidden;     
  position: relative;
}

.socials-track {
  transform: translateY(40px);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.topbar-socials:hover .socials-track {
  transform: translateY(0);
}