* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.topbar {
  background: #030390;
  display: flex;
  color: #fff;
  padding: 20px 40px;
  height: 75px;
  justify-content: space-between;
  place-items: center;
  text-transform: capitalize;
  position: fixed;
  width: 100%;
  top: 0;
}
.logo {
  display: flex;
  gap: 12px;
}
.navlinks {
  display: flex;
}
.navlinks > ul {
  display: flex;
  list-style-type: none;
  gap: 23px;
}
.navlinks > ul > li {
  cursor: pointer;
}
.navlinks > ul > li:hover {
  text-decoration: underline dotted;
}
.logout {
  display: flex;
  min-width: 200px;
  justify-content: right;
  padding-right: 30px;
  place-items: center;
}
.logout > button {
  background: transparent;
  padding: 8px 25px;
  color: #fff;
  outline: 0;
  border: 0;
  text-transform: capitalize;
  font-size: 16px;
  border-radius: 18px;
  cursor: pointer;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
}
.logout > button:hover {
  background-color: #fff;
  color: #030390;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: #ffffff3b;
}
.full-container {
  margin-top: 70px;
  padding: 30px 40px;
  overflow: auto;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
.full-container::-webkit-scrollbar {
  display: none;
}
.unauthorized {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px - 60px);
  justify-content: center;
  align-items: center;
  place-items: center;
  font-size: 30px;
  width: 100%;
}
.book-appointment {
  width: 450px;
  padding: 45px 20px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  box-shadow: 0px 0px 6px #4d4d4d4a;
  border-radius: 16px;
  gap: 25px;
  color: #030390;
}
.book-appointment > h2 {
  margin-bottom: 10px;
}
.book-appointment::-webkit-scrollbar {
  display: none;
}
.bookSubmit {
  padding: 15px;
  background-color: transparent;
  border: 1px solid #030390;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  place-items: center;
}
.bookSubmit:hover {
  background-color: #030390;
  color: #fff;
}