* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.topbar {
  background: #030390;
  display: flex;
  color: #fff;
  padding: 20px 40px;
  height: 75px;
  justify-content: space-between;
  place-items: center;
  text-transform: capitalize;
}
.logo {
  display: flex;
  gap: 12px;
}
.navlinks {
  display: flex;
}
.navlinks > ul {
  display: flex;
  list-style-type: none;
  gap: 23px;
}
.navlinks > ul > li {
  cursor: pointer;
}
.navlinks > ul > li:hover {
  text-decoration: underline dotted;
}
.logout {
  display: flex;
  min-width: 200px;
  justify-content: right;
  padding-right: 30px;
  place-items: center;
}
.logout > button {
  background: transparent;
  padding: 8px 25px;
  color: #fff;
  outline: 0;
  border: 0;
  text-transform: capitalize;
  font-size: 16px;
  border-radius: 18px;
  cursor: pointer;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
}
.logout > button:hover {
  background-color: #fff;
  color: #030390;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: #ffffff3b;
}