* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}
body {
  background-color: #f6f6f6;
}
.topbar {
  background: #030390;
  display: flex;
  color: #fff;
  padding: 20px 40px;
  height: 75px;
  justify-content: space-between;
  place-items: center;
  text-transform: capitalize;
  position: fixed;
  width: 100%;
  top: 0;
}
.logo {
  display: flex;
  gap: 12px;
}
/* .navlinks {
  display: flex;
}
.navlinks > ul {
  display: flex;
  list-style-type: none;
  gap: 23px;
}
.navlinks > ul > li {
  cursor: pointer;
}
.navlinks > ul > li:hover {
  text-decoration: underline dotted;
} */
/* .logout {
  display: flex;
  min-width: 200px;
  justify-content: right;
  padding-right: 30px;
  place-items: center;
}
.logout > button {
  background: transparent;
  padding: 8px 25px;
  color: #fff;
  outline: 0;
  border: 0;
  text-transform: capitalize;
  font-size: 16px;
  border-radius: 18px;
  cursor: pointer;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
}
.logout > button:hover {
  background-color: #fff;
  color: #030390;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.loader2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: #ffffff3b;
}
.full-container {
  padding: 30px 40px;
  overflow: auto;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  background-color: #f6f6f6;
  margin-left: calc(300px);
}
.full-container::-webkit-scrollbar {
  display: none;
}
.unauthorized {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px - 60px);
  justify-content: center;
  align-items: center;
  place-items: center;
  font-size: 30px;
  width: 100%;
}
.book-appointment {
  width: 450px;
  padding: 45px 20px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  box-shadow: 0px 0px 6px #4d4d4d4a;
  border-radius: 16px;
  gap: 25px;
  color: #030390;
}
.book-appointment > h2 {
  margin-bottom: 10px;
}
.book-appointment::-webkit-scrollbar {
  display: none;
}
.bookSubmit {
  padding: 15px;
  background-color: transparent;
  border: 1px solid #030390;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  place-items: center;
}
.cancel {
  padding: 15px;
  background-color: transparent;
  border: 1px solid #d61919fa;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  place-items: center;
  width: 49%;
}
.bookSubmit:hover {
  background-color: #030390;
  color: #fff;
}
.cancel:hover {
  background-color: #d61919fa;
  color: #fff;
}
.viewAppointment {
  padding: 13px 15px;
  background: #030390;
  color: #fff;
  font-size: 16px;
  border: 0;
  border-radius: 7px;
  cursor: pointer;
}
.search-input {
  padding: 11px 7px;
  padding-left: 33px;
  width: 290px;
  border-radius: 7px;
  outline: none;
  border: 2px solid #bcbcbc;
  height: 45px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  font-weight: 500;
}
.search-input:focus {
  border: 2px solid #030390;
}
.search-input::placeholder {
  color: #8c8c8c;
}
.queue-card {
  display: flex;
  width: 100%;
  padding: 0 20px;
  box-shadow: 0px 0px 6px #4d4d4d4a;
  border-radius: 14px;
  justify-content: space-between;
  place-items: center;
  height: 120px;
}
.status {
  padding: 5px;
  width: 100px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  text-transform: capitalize;
  color: #fff;
  border-radius: 5px;
}
.status.scheduled {
  background: #030390;
}
.status.completed {
  background: #0b963bfa;
}
.status.cancelled {
  background: #960b0bfa;
}
.actions {
  display: flex;
  gap: 12px;
}
.actions.remove {
  display: none;
}
.appointment-container {
  margin-top: 120px;
  padding: 0 15px; 
  display: flex; 
  gap: 23px;  
  flex-direction: column; 
  width: 100%;
  transition: width .3s ease-in-out;
}
.appointment-container.active {
  width: 100%;
}
.patientDetails {
  width: 100%;
  height: 0px;
  box-shadow: 0px 0px 6px #4d4d4d4a;
  border-radius: 14px;
  transition: height .3s ease-in-out;
  overflow: auto;
}
.patientDetails.active {
  height: calc(100vh - 70px - 80px - 70px - 140px);
}
.patientDetails::-webkit-scrollbar {
  display: none;
}
.container2 {
  width: 50%;
  transition: width .3s ease-in-out;
}
.container2.full {
  width: 100%;
}
.recordsform {
  display: flex;
  width: 0px;
  flex: 1;
  margin-top: 120px;
  transition: .3s ease-in-out;
}
.recordsform.active {
  width: 50%;
}
.recordsForm::-webkit-scrollbar {
  display: none;
}
.row {
  display: flex;
  justify-content: space-between;
  padding: 12px 14px;
  place-items: center;
  box-shadow: 0px 2px 16px #bebebe4a;
}
.row.even {
  background: #f6f6f6;
}
.table-container::-webkit-scrollbar {
  display: none;
}
.sidebar {
  height: 100vh;
  background: #030390;
  width: 300px;
  position: fixed;
  color: #fff;
}
.hospitaldetails {
  padding: 20px 30px;
  display: flex;
  gap: 5px;
  margin: 10px 0;
}
.navlinks {
  margin: 20px 0px;
}
.navlinks > ul {
  list-style-type: none;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.navlinks > ul > li {
  padding: 15px 45px;
  cursor: pointer;
  display: flex;
  place-items: center;
  gap: 8px;
}
.navlinks > ul > li.active {
  background: #3939395a;
  border-left: 2px solid #fff;
}
.navlinks > ul > li:hover {
  background: #3939395a;
}
.logout {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.logout > button {
  background: transparent;
  padding: 15px 45px;
  color: #ff1111;
  outline: 0;
  border: 0;
  text-transform: capitalize;
  font-size: 16px;
  border-radius: 0;
  cursor: pointer;
  width: 100%;
  display: flex;
  place-items: center;
  align-items: center;
  gap: 8px;
}
.logout > button:hover {
  background-color: #3939395a;
}
.chevron {
  transition: all .3s ease-in-out;
}
.chevron.turn {
  transform: rotate(90deg);
}
.quick {
  height: 0px;
  transition: all .3s ease-in-out;
  overflow: hidden;
}
.quick.active {
  height: 170px;
}